.square {
    width:200px;
    height:200px;
    position:fixed;
    left:50%;
    top:50%;
    &1 {
        margin:-100px 0 0 -200px;
        background:cadetblue;
    }
    &2 {
        margin:-100px 0 0 100px;
        background:darkseagreen;
    }
}