/* 탭메뉴 */
.pm-tab {
    &__menu {
        text-align:center;
    }
    &__list {
        width:100px;
        height:50px;
        display:inline-block;
        background-color:lightgray;
        &--on {
            background-color:darkslategray;
            .pm-tab__btn {
                color:#fff;
            }
        }
    }
    &__btn {
        width:100%;
        height:100%;
        display:block;
    }
}
.choose {
    margin:0 auto 0;
    width:500px;
    height:400px;
    position:relative;
}
/* 직업메뉴 */
.job-menu {
    margin-left:-150px;
    width:300px;
    font-size:0;
    position:absolute;
    left:50%;
    bottom:50px;
    z-index:1;
    &__list {
        margin-bottom:5px;
        width:50px;
        height:50px;
        display:inline-block;
        text-align:center;
        font-size:12px;
        background-color:lightgray;
        &--on {
            background-color:darkslategray;
            .job-menu__btn {
                color:#fff;
            }
        }
    }
    &__btn {
        width:100%;
        height:100%;
        display:block;
    }
}
/* 직업 */
.choose {
    &__tribe {
        width:100%;
        height:100%;
        display:none;
        position:absolute;
        left:0;
        top:0;
        &--on {
            display:block;
        }
    }
    &__job {
        width:100%;
        height:100%;
        display:none;
        position:absolute;
        left:0;
        top:0;
        &--on {
            display:block;
        }
        &--knight {

        }
    }
}
/* 성별 */
.gender {
    margin:0 auto 0;
    width:500px;
    height:100px;
    font-size:0;
    position:relative;
    &__list {
        width:250px;
        height:50px;
        display:inline-block;
        text-align:center;
        font-size:12px;
        background-color:lightgray;
        &--on {
            background-color:darkslategray;
            .gender__btn {
                color:#fff;
            }
        }
    }
    &__btn {
        width:100%;
        height:100%;
        display:block;
    }
}