#contents {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

.moving-slider {
    margin:100px auto 0;
    width:600px;
    height:300px;
    position:relative;
    &__btn {
        @include position-abs(
            $width:50px,
            $height:40px,
            $top:50%,
        );
        background-color:#ffdd80;
        &--prev {
            left:-50px;
        }
        &--next {
            right:-50px;
        }
    }
    &__cover {
        width:100%;
        height:100%;
        position:relative;
        overflow:hidden;
    }
    &__wrap {
        width:100%;
        height:100%;
        font-size:0;
        position:absolute;
        white-space:nowrap;
    }
    &__list {
        width:100px;
        height:100%;
        display:inline-block;
        font-size:12px;
        position:relative;
        &--on {
            width:300px;
        }
    }
    &__con {
        position:absolute;
        top:50%;
        left:50%;
        &--1 {
            background-color:darkseagreen;
        }
        &--2 {
            background-color:cornflowerblue;
        }
        &--3 {
            background-color:coral;
        }
        &--4 {
            background-color:palevioletred;
        }
        &--5 {
            background-color:gray;
        }
    }
}